{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "Audio": true,
    "document": true,
    "localStorage": true,
    "navigator": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-confusing-arrow": 0,
    "no-return-assign": 0,
    "guard-for-in": 0,
    "no-restricted-syntax": 0,
    "no-param-reassign": 0,
    "react/no-will-update-set-state": 0,
    "new-cap": 0
  }
}
