{
  "extends": [
    "airbnb"
  ],
  "globals": {
    document: true,
    Audio: true,
  },
  "rules": {
    "no-console": ["off"],
    "no-use-before-define": ["off"],
    "no-restricted-syntax": ["off"],
    "no-param-reassign": ["off"],
    "class-methods-use-this": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "react/jsx-boolean-value": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": ["off"],
  }
}
